#headerSlider.carousel.slide(data-ride='carousel')
    // Indicadores
    ol.carousel-indicators
        li.active(data-target='#headerSlider' data-slide-to='0')
        li(data-target='#headerSlider' data-slide-to='1')
    // Slides
    .carousel-inner
        .carousel-item.active
            img(src='/public/img/DDLVimages/portada_ddlv.jpg' alt='First slide').img-fluid
        .carousel-item
            img(src='/public/img/DDLVimages/portada_general.jpg' alt='Second slide').img-fluid
    // Controles de navegación
    a.carousel-control-prev(href='#headerSlider' role='button' data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
    a.carousel-control-next(href='#headerSlider' role='button' data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
