doctype html
html(lang='es')
    head
        include templates/headerCDN
        title #{title}
    body.bg-black
        include templates/nav


        div.p-5.bg-black
            .container.text-white.text-center
                h2.display-1
                    | 404
                h4.display-6
                    | Pagina no encontrada





        include templates/footer




    include templates/scripts
    script(src=url_js_files + '/common.js')


