doctype html
html(lang='es')
    head
        include templates/headerCDN


        title #{title}


    body.bg-black
        include templates/nav
        include templates/areasTemplates/header
        br
        section#areas.my-5.py-4
            .container
                .row
                    .col-6.col-md-3
                        .card.bg-black.text-white.text-center.border-light.border-4.my-3
                            .card-body.rounded
                                img(src="/public/img/logos/anclas-min.png " style="max-height:130px;" title="Anclas").img-fluid
                            .card-footer
                                h5.fw-bolder Anclas
                    .col-6.col-md-3
                        .card.bg-black.text-white.text-center.border-light.border-4.my-3
                            .card-body.rounded
                                img(src="/public/img/logos/atalayas-min.png " style="max-height:130px;" title="Atalayas").img-fluid
                            .card-footer
                                h5.fw-bolder Atalayas
                    .col-6.col-md-3
                        .card.bg-black.text-white.text-center.border-light.border-4.my-3
                            .card-body.rounded
                                img(src="/public/img/logos/banda_cj_blanco-min.png " style="max-height:130px;" title="Banda CJ").img-fluid
                            .card-footer
                                h5.fw-bolder Banda CJ
                    .col-6.col-md-3
                        .card.bg-black.text-white.text-center.border-light.border-4.my-3
                            .card-body.rounded
                                img(src="/public/img/logos/bienvenidos1-min.jpg " style="max-height:130px;" title="Bienvenidos").img-fluid
                            .card-footer
                                h5.fw-bolder Bienvenidos
                .row


                    .col-6.col-md-3
                        .card.bg-black.text-white.text-center.border-light.border-4.my-3
                            .card-body.rounded
                                img(src="/public/img/logos/cafe-min.png " style="max-height:130px;" title="La Café").img-fluid
                            .card-footer
                                h5.fw-bolder La Café
                    .col-6.col-md-3
                        .card.bg-black.text-white.text-center.border-light.border-4.my-3
                            .card-body.rounded
                                img(src="/public/img/logos/el_clan-min.png " style="max-height:130px;" title="Clan").img-fluid
                            .card-footer
                                h5.fw-bolder Clan
                    .col-6.col-md-3
                        .card.bg-black.text-white.text-center.border-light.border-4.my-3
                            .card-body.rounded
                                img(src="/public/img/logos/fc_blanco-min.png " style="max-height:130px;" title="Frente de combate").img-fluid
                            .card-footer
                                h5.fw-bolder Frente de combate
                    .col-6.col-md-3
                        .card.bg-black.text-white.text-center.border-light.border-4.my-3
                            .card-body.rounded
                                img(src="/public/img/logos/genesis-min.png " style="max-height:130px;" title="Genesis").img-fluid
                            .card-footer
                                h5.fw-bolder Genesis
                .row


                    .col-6.col-md-3
                        .card.bg-black.text-white.text-center.border-light.border-4.my-3
                            .card-body.rounded
                                img(src="/public/img/logos/herederos-min.png " style="max-height:130px;" title="Herederos").img-fluid
                            .card-footer
                                h5.fw-bolder Herederos
                    .col-6.col-md-3
                        .card.bg-black.text-white.text-center.border-light.border-4.my-3
                            .card-body.rounded
                                img(src="/public/img/logos/hombres-min.png " style="max-height:130px;" title="Hombres").img-fluid
                            .card-footer
                                h5.fw-bolder Hombres
                    .col-6.col-md-3
                        .card.bg-black.text-white.text-center.border-light.border-4.my-3
                            .card-body.rounded
                                img(src="/public/img/logos/matrimonios-min.png " style="max-height:130px;" title="Matrimonios").img-fluid
                            .card-footer
                                h5.fw-bolder Matrimonios
                    .col-6.col-md-3
                        .card.bg-black.text-white.text-center.border-light.border-4.my-3
                            .card-body.rounded
                                img(src="/public/img/logos/mujeres-min.png " style="max-height:130px;" title="Mujeres").img-fluid
                            .card-footer
                                h5.fw-bolder Mujeres
                .row


                    .col-6.col-md-3
                        .card.bg-black.text-white.text-center.border-light.border-4.my-3
                            .card-body.rounded
                                img(src="/public/img/logos/intensity-min.png " style="max-height:130px;" title="Intensity").img-fluid
                            .card-footer
                                h5.fw-bolder Intensity
                    .col-6.col-md-3
                        .card.bg-black.text-white.text-center.border-light.border-4.my-3
                            .card-body.rounded
                                img(src="/public/img/logos/kids-min.png " style="max-height:130px;" title="Kids").img-fluid
                            .card-footer
                                h5.fw-bolder Kids
                    .col-6.col-md-3
                        .card.bg-black.text-white.text-center.border-light.border-4.my-3
                            .card-body.rounded
                                img(src="/public/img/logos/discipulado-min.png " style="max-height:130px;" title="Discipulado").img-fluid
                            .card-footer
                                h5.fw-bolder Discipulado
                    .col-6.col-md-3
                        .card.bg-black.text-white.text-center.border-light.border-4.my-3
                            .card-body.rounded
                                img(src="/public/img/logos/edificadores-min.png " style="max-height:130px;" title="Edificadores").img-fluid
                            .card-footer
                                h5.fw-bolder Edificadores





        include templates/footer



    include templates/scripts
    script(src=url_js_files + '/common.js')

    script(src=url_js_files + '/home.js')
