doctype html
html(lang='es')
  include templates/head
  body

    main.py-5
      section.coming-soon.banner.display-flex-column.justify-align-center.text-center
        .container.py-5
          .banner__content
            .section-heading
              h1.fw-bold.special(style="font-size:320px;") 404
              h4.mar-b-sm-4.mar-b-xl-6 Pagina no encontrada
              a.text-center.button.button--primary.button--fill(href="/") Regresar al Home
