doctype html
html(lang='es')
    head
        include templates/headerCDN


        title #{title}


    body.bg-black
        include templates/nav
        include templates/ddvlTemplates/header
        section#descriptionDDLV.my-5.py-4
            div.text-center(data-aos="fade-up"  data-aos-duration="3000")
                img#logoddvl(src="/public/img/logos/ddlv_logo_blanco-min.png" style="max-height:150px;").img-fluid
                div.mx-4.my-5.text-center
                    p.fw-bolder.text-white DIOS DE LOS VIOLENTOS 2023
                    span.line.p-0.m-0
            div.container.my-5.text-white(data-aos="fade-up"  data-aos-duration="3000")
                p
                    | El año pasado se cumplió 100 años del primer derramamiento del Espíritu Santo en Pachuca, nuestro clamor por años a sido que el fuego vuelva a correr, el año pasado creemos que se abrió el pozo de fuego, el rio de Dios empezó a correr de una manera gloriosa, muchos pastores que bebieron del Espíritu estan creciendo y hay un mover de Dios en sus ministerios, este año creemos que cientos van a beber del Espíritu siendo marcados como pregoneros del Espíritu Santo te espero este año.
                cite
                    | Pastor Hector Andrade


            div#galeria.my-5.py-3.text-center.text-white.container
                div.mx-4.my-3
                    h2.display-5.fw-bolder Galeria 2023
                    span.line.p-0.m-0

                div.my-3
                    div.galeria.my-4

                        a.swipebox(href="/public/img/DDLVimages/1-min.webp"  rel="gallery-1"  title="Fuente: Cultura de Jesus DDLV 2023" )
                            img(src="/public/img/DDLVimages/1-min.webp"  style="max-height:460px;")
                        a.swipebox(href="/public/img/DDLVimages/2-min.webp"  rel="gallery-1"  title="Fuente: Cultura de Jesus DDLV 2023" )
                            img(src="/public/img/DDLVimages/2-min.webp"  style="max-height:460px;")
                        a.swipebox(href="/public/img/DDLVimages/3-min.webp"  rel="gallery-1"  title="Fuente: Cultura de Jesus DDLV 2023" )
                            img(src="/public/img/DDLVimages/3-min.webp"  style="max-height:460px;")
                        a.swipebox(href="/public/img/DDLVimages/5-min.webp"  rel="gallery-1"  title="Fuente: Cultura de Jesus DDLV 2023" )
                            img(src="/public/img/DDLVimages/5-min.webp"  style="max-height:460px;")
                    div.galeria.my-4
                        a.swipebox(href="/public/img/DDLVimages/6-min.webp"  rel="gallery-1"  title="Fuente: Cultura de Jesus DDLV 2023" )
                            img(src="/public/img/DDLVimages/6-min.webp"  style="max-height:460px;")
                        a.swipebox(href="/public/img/DDLVimages/7-min.webp"  rel="gallery-1"  title="Fuente: Cultura de Jesus DDLV 2023" )
                            img(src="/public/img/DDLVimages/7-min.webp"  style="max-height:460px;")
                        a.swipebox(href="/public/img/DDLVimages/8-min.webp"  rel="gallery-1"  title="Fuente: Cultura de Jesus DDLV 2023" )
                            img(src="/public/img/DDLVimages/8-min.webp"  style="max-height:460px;")
                        a.swipebox(href="/public/img/DDLVimages/10-min.webp"  rel="gallery-1"  title="Fuente: Cultura de Jesus DDLV 2023" )
                            img(src="/public/img/DDLVimages/10-min.webp"  style="max-height:460px;")

            div.text-center
                div.mx-4.my-2
                    h2.display-5.text-white.fw-bolder Dia 1
                    span.line.p-0.m-0

                iframe(src='https://www.facebook.com/plugins/video.php?height=237&href=https%3A%2F%2Fwww.facebook.com%2F100092432138515%2Fvideos%2F715297656747450%2F&show_text=false&width=560&t=0' width='1080' height='550' style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowfullscreen='true' allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share')

            div.text-center
                div.mx-4.my-2
                    h2.display-5.text-white.fw-bolder Dia 2
                    span.line.p-0.m-0

                iframe(src='https://www.facebook.com/plugins/video.php?height=237&href=https%3A%2F%2Fwww.facebook.com%2F100092432138515%2Fvideos%2F672895218093983%2F&show_text=false&width=560&t=0' width='1080' height='550'  style='border:none;overflow:hidden' scrolling='no' frameborder='0' allowfullscreen='true' allow='autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share')






















        include templates/footer




    include templates/scripts
    script(src=url_js_files + '/common.js')

    script(src=url_js_files + '/home.js')
