doctype html
html(lang='es')
    include templates/head
    body
        header.header.light-text(data-onscroll-classes='fixed-header animate-header')
            include templates/nav
        main
            section.banner.single-banner-event.full-width
                .container
                    .banner__content
                        .section-heading
                            span.section-intro Jesus is Lord
                            h1 Prayer gathering
                        .breadcrumb
                            .breadcrumb__home--link
                                a(href='/') Home
                            span /
                            .breadcrumb__home--link
                                a(href='events-layout-1 ') Events
                            span /
                            .breadcrumb__current--page-link Prayer gathering
            section.single-page.single-events.default-section-spacing.pad-b-sm-0
                .container
                    .row
                        .flex-lg-8
                            .description.pad-b-sm-4
                                .section-heading
                                    span.section-intro Description
                                    h2 Description
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptatum id eius odit doloribus reiciendis ipsa, amet voluptas? Nulla corrupti neque harum quibusdam expedita voluptatem quo eum temporibus similique, mollitia quisquam aut, cumque iusto. Cupiditate!
                                p Expedita voluptas laborum soluta accusantium possimus dolor vel unde, commodi nam est ipsa asperiores rerum incidunt quas omnis obcaecati consectetur, nisi assumenda, libero neque quasi reprehenderit iste!
                            .responsibilities.pad-b-sm-4
                                .section-heading
                                    span.section-intro Responsibilities
                                    h2 What to bring
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur voluptatum id eius odit doloribus reiciendis ipsa, amet voluptas? Nulla corrupti neque harum quibusdam expedita voluptatem quo eum temporibus similique, mollitia quisquam aut, cumque iusto. Cupiditate!
                                p Expedita voluptas laborum soluta accusantium possimus dolor vel unde, commodi nam est ipsa asperiores rerum incidunt quas omnis obcaecati consectetur, nisi assumenda, libero neque quasi reprehenderit iste!
                            .details.pad-b-sm-2
                                .section-heading
                                    span.section-intro Details
                                    h2 Details
                                .row
                                    .flex-md-6.flex-lg-4
                                        .icon-text.mar-b-sm-06
                                            span.icon
                                                i.ri-user-star-line
                                            |
                                            span.text.bold Leads by Sherika M. Diaz
                                        .icon-text.mar-b-sm-06
                                            span.icon
                                                i.ri-time-line
                                            |
                                            span.text.bold 11:45AM - 12:45PM
                                        .icon-text
                                            span.icon
                                                i.ri-calendar-line
                                            |
                                            span.text.bold 02/28/2020
                                    .flex-md-6.flex-lg-4
                                        .icon-text.mar-b-sm-06
                                            span.icon
                                                i.ri-phone-line
                                            |
                                            span.text.bold (555) 555-5555
                                        .icon-text.mar-b-sm-06
                                            span.icon
                                                i.ri-mail-line
                                            |
                                            span.text.bold example@faithinchristchurch.com
                                        .icon-text
                                            span.icon
                                                i.ri-map-pin-line
                                            |
                                            span.text.bold 123 Jay St, Albany, NY 12345
                                    .flex-md-12.flex-lg-4.mar-t-md-2.mar-t-lg-0
                                        .icon-text
                                            span.icon
                                                i.ri-money-dollar-circle-line
                                            |
                                            span.text.bold FREE to attend
                        .flex-lg-4
                            .sidebar.text-center-sm
                                .single-page__share.sidebar__widget.background-off-white.pad-t-sm-2.pad-b-sm-2
                                    a.button.button--primary.button--fill(href) Add event to Google calendar
                                    .display-flex.justify-align-center.mar-t-sm-2
                                        .bold.leading.text Share
                                        .social
                                            a.transparent.button.button--primary.button--outline.share-button(href)
                                                i.ri-facebook-line
                                        .social
                                            a.transparent.button.button--primary.button--outline.share-button(href)
                                                i.ri-linkedin-line
                                        .social
                                            a.transparent.button.button--primary.button--outline.share-button(href)
                                                i.ri-twitter-line
                                        .social
                                            a.transparent.button.button--primary.button--outline.share-button(href)
                                                i.ri-instagram-line
                .single-event__pictures.mar-t-sm-2.mar-t-lg-0.mar-b-sm-2
                    .container
                        .row
                            .flex-md-6.flex-lg-3
                                .event-picture
                                    img(src='/public/images/ministry-single-cta.jpg', alt)
                            .flex-md-6.flex-lg-3
                                .event-picture
                                    img(src='/public/images/podcast-thumb-2.jpg', alt)
                            .flex-md-6.flex-lg-3.mar-t-md-2.mar-t-lg-0
                                .event-picture
                                    img(src='/public/images/standing-girl.jpg', alt)
                            .flex-md-6.flex-lg-3.mar-t-md-2.mar-t-lg-0
                                .event-picture
                                    img(src='/public/images/praying-man.jpg', alt)
                .single-page__navigation.background-off-white.pad-t-sm-2.pad-b-sm-2
                    .container
                        .display-flex.justify-content-between.align-items-center
                            .previous.display-flex.align-items-center
                                span.arrow
                                    a.button.button--outline.button--primary.share-button(href)
                                        i.ri-arrow-left-s-line
                                |
                                span Previous event
                            .next.display-flex.align-items-center
                                span Next event
                                |
                                span.arrow
                                    a.button.button--outline.button--primary.share-button(href)
                                        i.ri-arrow-right-s-line
        .scroll-to-top
            i.ri-arrow-up-line
        #site-search.modal.modal--search.modal--overlay.text-center-sm
            .modal__content
                h3.mar-b-sm-2 Search our site
                .container
                    form.form.form--search
                        .row
                            .flex-lg-9
                                .form__group
                                    input.form__input(type='text', placeholder='Search...')
                            .flex-lg-3
                                button.button--fill.button--primary.button-block-lg(type='submit') Search our site
        footer.footer
            .footer__upper
                .time-location
                    .prayer-request.default-section-spacing.text-center-sm
                        .container
                            .row.justify-content-end
                                .flex-lg-8
                                    h2.mar-b-sm-2 Feeling down, distracted, lost or distanced from God and need prayers? We will pray for you!
                                    a.button.button--primary.button--fill(href='contact ') Request a prayer
                    .time-location__content
                        .container
                            .row
                                .flex-lg-4.position
                                    .box-details
                                        .section-heading
                                            span.section-intro Visit
                                            h2 Come fellowship with us
                                        .display-flex.mar-b-sm-2
                                            .left-side
                                                span.leading.bold Sunday:
                                            .right-side
                                                span.leading.mar-b-sm-06 9:00am - 10:30am (Sunday school)
                                                |
                                                span.leading.mar-b-sm-06 11:00am - 1:30pm (Morning worship)
                                                |
                                                span.leading 4:00pm - 5:30pm (Evening worship)
                                        .display-flex.mar-b-sm-06
                                            .left-side
                                                span.leading.bold Location:
                                            .right-side
                                                span.leading 123 Jay St, Albany, NY 12345
                                        .display-flex.mar-b-sm-06
                                            .left-side
                                                span.leading.bold Telephone:
                                            .right-side
                                                span.leading (555) 555-5555
                                        .display-flex
                                            .left-side
                                                span.leading.bold Email:
                                            .right-side
                                                span.leading example@faithinchristchurch.com
                        .time-location__map
                            iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2934.500392314035!2d-73.76198333429348!3d42.650750424686215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de0a3cdc54f8b3%3A0x369f717b85d43cfc!2sMadison%20Ave%20%26%20Empire%20State%20Plaza!5e0!3m2!1sen!2sus!4v1583133727681!5m2!1sen!2sus')
            .footer__middle.default-section-spacing
                .container
                    .row
                        .flex-md-6.flex-lg-3
                            .footer__widget.color-off-white
                                h3 About us
                                p.mar-t-sm-2.mar-b-sm-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat iusto distinctio inventore accusantium laborum dolorem doloremque rerum voluptatum voluptates excepturi
                                .display-flex
                                    .social
                                        a.transparent.button.button--primary.button--outline.share-button(href)
                                            i.ri-facebook-line
                                    .social
                                        a.transparent.button.button--primary.button--outline.share-button(href)
                                            i.ri-linkedin-line
                                    .social
                                        a.transparent.button.button--primary.button--outline.share-button(href)
                                            i.ri-twitter-line
                                    .social
                                        a.transparent.button.button--primary.button--outline.share-button(href)
                                            i.ri-instagram-line
                        .flex-md-6.flex-lg-3
                            .footer__widget.color-off-white
                                h3 Causes
                                ul.causes-list.mar-t-sm-2
                                    li
                                        a(href='causes-single ') Education for all children
                                    li
                                        a(href='causes-single ') No hungry neighborhood
                                    li
                                        a(href='causes-single ') No child left behind
                                    li
                                        a(href='causes-single ') Clean water & food in Syria
                                    li
                                        a(href='causes-single ') Shelters for the homeless
                                    li
                                        a(href='causes-single ') Giving hope to the depressed
                                    li
                                        a(href='causes-single ') Substance abused recovery
                        .flex-md-6.flex-lg-3.mar-t-md-2.mar-t-lg-0
                            .footer__widget.color-off-white
                                h3 Latest podcasts
                                ul.podcast-list.mar-t-sm-2
                                    li.icon-text
                                        span.icon
                                            i.ri-video-line
                                        |
                                        span.text
                                            a(href='#') Overcoming fear through Christ
                                    li.icon-text
                                        span.icon
                                            i.ri-video-line
                                        |
                                        span.text
                                            a(href='#') Ep.10 - Understanding forgiveness
                                    li.icon-text
                                        span.icon
                                            i.ri-video-line
                                        |
                                        span.text
                                            a(href='#') Ep.11 - Biblical forgiveness vs wordly forgiveness
                                    li.icon-text
                                        span.icon
                                            i.ri-video-line
                                        |
                                        span.text
                                            a(href='#') Ep.12 - Forgiveness can take time to happen
                                    li.icon-text
                                        span.icon
                                            i.ri-headphone-line
                                        |
                                        span.text
                                            a(href='#') Understanding Jeremiah 29:11
                                    li.icon-text
                                        span.icon
                                            i.ri-headphone-line
                                        |
                                        span.text
                                            a(href='#') Jesus is The Way, Truth, and Life
                        .flex-md-6.flex-lg-3.mar-t-md-2.mar-t-lg-0
                            .footer__widget.color-off-white
                                h3 Join our newsletter
                                .newsletter.mar-t-sm-2
                                    form.form
                                        .form__group.mar-b-sm-2
                                            input.form__input(type='email', placeholder='Enter your email address')
                                        button.button.button--primary.button--fill(type='submit') Join newsletter
            .footer__lower.background-off-white.pad-t-sm-2.pad-b-sm-2
                .container
                    .row
                        .flex-md-6.flex-lg-4
                            p.copyright © 2020 - Faith in Christ Church - All Rights Reserved
                        .flex-md-6.flex-lg-4.text-center-lg
                            nav.footer__nav
                                ul.display-flex.justify-content-between
                                    li
                                        a(href) Terms of Use
                                    li
                                        a(href) Privacy policy
                                    li
                                        a(href) About
                                    li
                                        a(href) Contact
                        .flex-md-12.flex-lg-4.mar-t-md-2.mar-t-lg-0.text-right-lg
                            p
                                | Template designed and developed by
                                span.bold.underline Blazythemes
        script(src='https://code.jquery.com/jquery-3.3.1.min.js')
        script window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
        script(src='/public/js/plugins/owl.carousel.min.js')
        script(src='dist/js/main.min.js')