doctype html
html(lang='es')
    head
        include templates/headerCDN


        title #{title}



    body.bg-black
        include templates/nav
        include templates/header
        include templates/sobreNosotros
        include templates/galeria
        include templates/reuiniones






        include templates/footer




    include templates/scripts
    script(src=url_js_files + '/common.js')

    script(src=url_js_files + '/home.js')
