
::-webkit-scrollbar {
    width: 3px;
    background-color: #f5f5f5;
}

/* Estilo del thumb y track */
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

/* Estilo del scrollbar en hover */
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.4);
}

/* Estilo del scrollbar en active */
::-webkit-scrollbar-thumb:active {
    background-color: rgba(0, 0, 0, 0.6);
}

/* Estilo del scrollbar corner (esquina del scrollbar) */
::-webkit-scrollbar-corner {
    background-color: #f5f5f5;
}


body {
    background-color: #F0F0E0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

main {
    flex: 1;
}

.footer {
    width: 100%;
}

.btn-custom {
    font-family: 'Insight Melody', sans-serif; /* Tipografía */
    font-size: 1.6rem;  /* Tamaño de fuente */
    padding: 2rem 1rem; /* Padding vertical y horizontal */
    background-color: #023E66; /* Color de fondo */
    color: white; /* Color de texto */
    border-radius: 10px; /* Bordes redondeados */
    border: none; /* Quita el borde */
    width: 100%;
}

.btn-custom:hover {
    background: linear-gradient(to right, white, #4D5C25); /* Difuminado entre blanco y verde */
    color: #023E66; /* Color del texto */
}


.font-weight-light {
    font-weight: 300; /* Este valor puede variar dependiendo de la tipografía que estés usando */
}

#notify-container {
    z-index: 1160 !important; /* Asegura que las notificaciones aparezcan por encima de las modales */
}