/* Personalización del scrollbar para todos los elementos */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

/* Estilos para botón de la navbar-toggler */
.navbar-toggler.active {
    background-color: transparent;
}
.navbar-toggler.active span:nth-child(1) {
    transform: translateY(3px) rotate(45deg);
}
.navbar-toggler.active span:nth-child(2) {
    opacity: 0;
}
.navbar-toggler.active span:nth-child(3) {
    transform: translateY(-3px) rotate(-45deg);
}

/* Estilos para los enlaces del menú */
.navbar-nav li a {
    transition: all 0.3s ease;
    color: #fff;
}
.navbar-nav li a:hover,
.navbar-nav li a:focus {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
}

header.bg-image {
    height: 550px; /* ajusta la altura según tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    header.bg-image {
        height: 350px; /* ajusta la altura según tu imagen de fondo */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #imgddvloradores {
        max-height: 900px;
    }
    #logoddvl {
        max-height: 90px;
    }


}

header .container {
    height: 100%;
    display: flex;
    align-items: center;
}


header a.btn {
    margin-top: 1rem;
}



header a.btn:hover {
    opacity: 0.8;
}

.line {
    border-bottom: 2px solid white;
    display: inline-block;
    width: 10%;
}

#panelContainer {
    display: flex;
    flex-direction: row;
    background-color: transparent;
    flex: 1;
    overflow: hidden;
}
.panel {
    position: relative;

}
.one {
    position: relative;
    height: 100%;


}
.two {
    position: relative;
    width: 100%;
}