footer.footer.bg-black.text-light.py-3
    .container

        .row
            .col-md-12.text-center
                div.my-3
                    img.img-fluid.mx-4(src="/public/img/logos/cjn.png" style="max-height:110px;")
                    p &copy; Cultura de Jesus 2023
                    a(href="https://www.facebook.com/profile.php?id=100092443712277" target="_blank").fs-4.text-white
                                i.fab.fa-facebook.mx-2
                    a(href="https://www.youtube.com/@CulturadeJesusOficial" target="_blank").fs-4.text-white
                                i.fab.fa-youtube.mx-2
                    a(href="https://www.instagram.com/culturadejesus/" target="_blank").fs-4.text-white
                                i.fab.fa-instagram.mx-2
                    a(href="#top").fs-4.text-white
                        i.fas.fa-arrow-up.fa-lg.mx-2

        .row
            .col-12.text-center
                small Desarrollado por:
                    a(href="/" style="text-decoration:none;").text-white.mx-2
                        | Jose Miguel Rosas Jimenez


