div#galera.my-5.py-3.text-center.text-white.container
    div.mx-4.my-3
        h2.display-5.fw-bolder Galeria
        span.line.p-0.m-0

    div.my-3
        div.galeria.my-3
            a.swipebox(href="/public/img/reuniones/galeria20.webp", rel="gallery-1", title="Fuente: Cultura de Jesus")
                img.viewImage(src="/public/img/reuniones/galeria20.webp", style="max-height:180px;display:none;")

            a.swipebox(href="/public/img/reuniones/galeria22.webp", rel="gallery-1", title="Fuente: Cultura de Jesus")
                img.viewImage(src="/public/img/reuniones/galeria22.webp", style="max-height:180px;display:none;")

            a.swipebox(href="/public/img/reuniones/galeria19.webp", rel="gallery-1", title="Fuente: Cultura de Jesus")
                img.viewImage(src="/public/img/reuniones/galeria19.webp", style="max-height:180px;display:none;")

            a.swipebox(href="/public/img/reuniones/galeria6.webp", rel="gallery-1", title="Fuente: Cultura de Jesus")
                img.viewImage(src="/public/img/reuniones/galeria6.webp", style="max-height:180px;display:none;")

        div.galeria.my-3
            a.swipebox(href="/public/img/reuniones/galeria7.webp", rel="gallery-1", title="Fuente: Cultura de Jesus")
                img.viewImage(src="/public/img/reuniones/galeria7.webp", style="max-height:180px;display:none;")

            a.swipebox(href="/public/img/reuniones/galeria8.webp", rel="gallery-1", title="Fuente: Cultura de Jesus")
                img.viewImage(src="/public/img/reuniones/galeria8.webp", style="max-height:180px;display:none;")

            a.swipebox(href="/public/img/reuniones/galeria9.webp", rel="gallery-1", title="Fuente: Cultura de Jesus")
                img.viewImage(src="/public/img/reuniones/galeria9.webp", style="max-height:180px;display:none;")

            a.swipebox(href="/public/img/reuniones/galeria19.webp", rel="gallery-1", title="Fuente: Cultura de Jesus")
                img.viewImage(src="/public/img/reuniones/galeria19.webp", style="max-height:180px;display:none;")

        div.galeria.my-3
            a.swipebox(href="/public/img/reuniones/galeria10.webp", rel="gallery-1", title="Fuente: Cultura de Jesus")
                img.viewImage(src="/public/img/reuniones/galeria10.webp", style="max-height:180px;display:none;")

            a.swipebox(href="/public/img/reuniones/galeria12.webp", rel="gallery-1", title="Fuente: Cultura de Jesus")
                img.viewImage(src="/public/img/reuniones/galeria12.webp", style="max-height:180px;display:none;")

            a.swipebox(href="/public/img/reuniones/galeria13.webp", rel="gallery-1", title="Fuente: Cultura de Jesus")
                img.viewImage(src="/public/img/reuniones/galeria13.webp", style="max-height:180px;display:none;")

            a.swipebox(href="/public/img/reuniones/galeria14.webp", rel="gallery-1", title="Fuente: Cultura de Jesus")
                img.viewImage(src="/public/img/reuniones/galeria14.webp", style="max-height:180px;display:none;")

        div.galeria.my-3
            a.swipebox(href="/public/img/reuniones/galeria15.webp", rel="gallery-1", title="Fuente: Cultura de Jesus")
                img.viewImage(src="/public/img/reuniones/galeria15.webp", style="max-height:180px;display:none;")

            a.swipebox(href="/public/img/reuniones/galeria16.webp", rel="gallery-1", title="Fuente: Cultura de Jesus")
                img.viewImage(src="/public/img/reuniones/galeria16.webp", style="max-height:180px;display:none;")

            a.swipebox(href="/public/img/reuniones/galeria17.webp", rel="gallery-1", title="Fuente: Cultura de Jesus")
                img.viewImage(src="/public/img/reuniones/galeria17.webp", style="max-height:180px;display:none;")

            a.swipebox(href="/public/img/reuniones/galeria18.webp", rel="gallery-1", title="Fuente: Cultura de Jesus")
                img.viewImage(src="/public/img/reuniones/galeria18.webp", style="max-height:180px;display:none;")
