div#galeria.my-5.py-3.text-center.text-white.container
    div.mx-4.my-3
        h2.display-5.fw-bolder Galeria
        span.line.p-0.m-0

    div.my-3
        div.galeria(data-aos="fade-up"  data-aos-duration="3000")



            a(data-src="/public/img/reuniones/galeria3-min.jpg" data-fancybox="gallery" data-caption='Fuente: Cultura de jesus')
                img(src="/public/img/reuniones/galeria3-min.jpg" style="max-height:175px;")
            a(data-src="/public/img/reuniones/galeria4-min.jpg" data-fancybox="gallery" data-caption='Fuente: Cultura de jesus')
                img(src="/public/img/reuniones/galeria4-min.jpg" style="max-height:175px;")
            a(data-src="/public/img/reuniones/galeria5-min.jpg" data-fancybox="gallery" data-caption='Fuente: Cultura de jesus')
                img(src="/public/img/reuniones/galeria5-min.jpg" style="max-height:175px;")
            a(data-src="/public/img/reuniones/galeria6-min.jpg" data-fancybox="gallery" data-caption='Fuente: Cultura de jesus')
                img(src="/public/img/reuniones/galeria6-min.jpg" style="max-height:175px;")
            a(data-src="/public/img/reuniones/galeria7-min.jpg" data-fancybox="gallery" data-caption='Fuente: Cultura de jesus')
                img(src="/public/img/reuniones/galeria7-min.jpg" style="max-height:175px;")
            a(data-src="/public/img/reuniones/galeria8-min.jpg" data-fancybox="gallery" data-caption='Fuente: Cultura de jesus')
                img(src="/public/img/reuniones/galeria8-min.jpg" style="max-height:175px;")
            a(data-src="/public/img/reuniones/galeria9-min.jpg" data-fancybox="gallery" data-caption='Fuente: Cultura de jesus')
                img(src="/public/img/reuniones/galeria9-min.jpg" style="max-height:175px;")
            a(data-src="/public/img/reuniones/galeria10-min.jpg" data-fancybox="gallery" data-caption='Fuente: Cultura de jesus')
                img(src="/public/img/reuniones/galeria10-min.jpg" style="max-height:175px;")
            a(data-src="/public/img/reuniones/galeria12-min.jpg" data-fancybox="gallery" data-caption='Fuente: Cultura de jesus')
                img(src="/public/img/reuniones/galeria12-min.jpg" style="max-height:175px;")




