div#galeria.my-5.py-3.text-center.text-white.container
    div.mx-4.my-3
        h2.display-5.fw-bolder Galeria
        span.line.p-0.m-0

    div.my-3
        div.galeria

            a.swipebox(href="/public/img/reuniones/galeria3.jpg"  rel="gallery-1"  title="Fuente: Cultura de Jesus" )
                img(src="/public/img/reuniones/galeria3.jpg" style="max-height:175px;")
            a.swipebox(href="/public/img/reuniones/galeria4.jpg"  rel="gallery-1" title="Fuente: Cultura de Jesus"  )
                img(src="/public/img/reuniones/galeria4.jpg" style="max-height:175px;")
            a.swipebox(href="/public/img/reuniones/galeria5.jpg"  rel="gallery-1"  title="Fuente: Cultura de Jesus" )
                img(src="/public/img/reuniones/galeria5.jpg" style="max-height:175px;")
            a.swipebox(href="/public/img/reuniones/galeria6.jpg"  rel="gallery-1"  title="Fuente: Cultura de Jesus" )
                img(src="/public/img/reuniones/galeria6.jpg" style="max-height:175px;")
            a.swipebox(href="/public/img/reuniones/galeria7.jpg"  rel="gallery-1"  title="Fuente: Cultura de Jesus" )
                img(src="/public/img/reuniones/galeria7.jpg" style="max-height:175px;")
            a.swipebox(href="/public/img/reuniones/galeria8.jpg"  rel="gallery-1"  title="Fuente: Cultura de Jesus" )
                img(src="/public/img/reuniones/galeria8.jpg" style="max-height:175px;")
            a.swipebox(href="/public/img/reuniones/galeria9.jpg"  rel="gallery-1"  title="Fuente: Cultura de Jesus" )
                img(src="/public/img/reuniones/galeria9.jpg" style="max-height:175px;")
            a.swipebox(href="/public/img/reuniones/galeria10.jpg"  rel="gallery-1"  title="Fuente: Cultura de Jesus" )
                img(src="/public/img/reuniones/galeria10.jpg" style="max-height:175px;")
            a.swipebox(href="/public/img/reuniones/galeria12.jpg"  rel="gallery-1"  title="Fuente: Cultura de Jesus" )
                img(src="/public/img/reuniones/galeria12.jpg" style="max-height:175px;")




