div#galeria.my-5.py-3.text-center.text-white.container(data-aos="fade-up"  data-aos-duration="3000")
    div.mx-4.my-3
        h2.display-5.fw-bolder Galeria
        span.line.p-0.m-0

    div.my-3
        div.galeria



            a(data-src="/public/img/reuniones/galeria3.jpg" data-fancybox="gallery" data-caption='Fuente: Cultura de jesus')
                img(src="/public/img/reuniones/galeria3.jpg" style="max-height:175px;")
            a(data-src="/public/img/reuniones/galeria4.jpg" data-fancybox="gallery" data-caption='Fuente: Cultura de jesus')
                img(src="/public/img/reuniones/galeria4.jpg" style="max-height:175px;")
            a(data-src="/public/img/reuniones/galeria5.jpg" data-fancybox="gallery" data-caption='Fuente: Cultura de jesus')
                img(src="/public/img/reuniones/galeria5.jpg" style="max-height:175px;")
            a(data-src="/public/img/reuniones/galeria6.jpg" data-fancybox="gallery" data-caption='Fuente: Cultura de jesus')
                img(src="/public/img/reuniones/galeria6.jpg" style="max-height:175px;")
            a(data-src="/public/img/reuniones/galeria7.jpg" data-fancybox="gallery" data-caption='Fuente: Cultura de jesus')
                img(src="/public/img/reuniones/galeria7.jpg" style="max-height:175px;")
            a(data-src="/public/img/reuniones/galeria8.jpg" data-fancybox="gallery" data-caption='Fuente: Cultura de jesus')
                img(src="/public/img/reuniones/galeria8.jpg" style="max-height:175px;")
            a(data-src="/public/img/reuniones/galeria9.jpg" data-fancybox="gallery" data-caption='Fuente: Cultura de jesus')
                img(src="/public/img/reuniones/galeria9.jpg" style="max-height:175px;")
            a(data-src="/public/img/reuniones/galeria10.jpg" data-fancybox="gallery" data-caption='Fuente: Cultura de jesus')
                img(src="/public/img/reuniones/galeria10.jpg" style="max-height:175px;")
            a(data-src="/public/img/reuniones/galeria11.jpg" data-fancybox="gallery" data-caption='Fuente: Cultura de jesus')
                img(src="/public/img/reuniones/galeria11.jpg" style="max-height:175px;")




