div#galeria.my-5.py-3.text-center.text-white.container
    div.mx-4.my-3
        h2.display-5.fw-bolder Galeria
        span.line.p-0.m-0

    div.my-3
        div.galeria
            ul.images
                li
                    img(src="/public/img/reuniones/galeria3.jpg")
                li
                    img(src="/public/img/reuniones/galeria4.jpg")


                li
                    img(src="/public/img/reuniones/galeria5.jpg")

                li
                    img(src="/public/img/reuniones/galeria6.jpg")

                li
                    img(src="/public/img/reuniones/galeria7.jpg")

                li
                    img(src="/public/img/reuniones/galeria8.jpg")

                li
                    img(src="/public/img/reuniones/galeria9.jpg")
                li
                    img(src="/public/img/reuniones/galeria10.jpg")
                li
                    img(src="/public/img/reuniones/galeria11.jpg")

                li
                    img(src="/public/img/reuniones/galeria12.jpg")


            div.pagination

    .modal-container
        .modal-image-container
            img.modal-image(src='' alt='')
        small.my-3 Galeria Cultura de Jesus
        button.modal-close X
