section.all-results.all-results--events
    .container
        .row

            .flex-md-6.flex-lg-4
                .card.events
                    .card__body
                        .label.uppercase Datos del evento
                        .event__details.mar-t-sm-2.mar-b-sm-2
                            .icon-text
                                span.icon
                                    i.ri-calendar-line
                                |
                                span.text 07/AGO/2024 - 09/AGO/2024
                            .icon-text
                                span.icon
                                    i.ri-time-line
                                |
                                span.text 19:00
                            .icon-text
                                span.icon
                                    i.ri-map-pin-line
                                |
                                span.text CETYM, Pachuca, Hgo.
                            a(href="https://dios-de-los-violentos-2024.boletia.com" target="_blank").btn.btn-primary Obtener entradas
                        h3.event__tile DIOS DE LOS VIOLENTOS 2024 - ACEITE Y FUEGO

                    .card__footer
                        .card__cta
                            a(href="https://dios-de-los-violentos-2024.boletia.com" target="_blank")

                                img(src=` ${img_link}/ddlv_2024.jpg`, style="max-height: 280px;border-radius:10px;").img-fluid
                                //a.label.uppercase Datos del congreso


