section.all-results.all-results--events
    .container
        .row
            .flex-md-6.flex-lg-4
                .card.events
                    .card__body
                        .label.uppercase Datos del congreso
                        .event__details.mar-t-sm-2.mar-b-sm-2
                            .icon-text
                                span.icon
                                    i.ri-calendar-line
                                |
                                span.text 07/OCT/2023
                            .icon-text
                                span.icon
                                    i.ri-time-line
                                |
                                span.text 8:30 AM
                            .icon-text
                                span.icon
                                    i.ri-map-pin-line
                                |
                                span.text Iglesia Cultura de Jesús,Pachuca,Hgo.
                        h3.event__tile EX-MAX(Experiencia Máxima)
                    .card__footer
                        .card__cta
                            img(src=` ${img_logos}/exmax-min.png`, style="max-height: 75px;").img-fluid
            .flex-md-6.flex-lg-4
                .card.events
                    .card__body
                        .label.uppercase Datos del congreso
                        .event__details.mar-t-sm-2.mar-b-sm-2
                            .icon-text
                                span.icon
                                    i.ri-calendar-line
                                |
                                span.text 13/OCT/2023 y 14/OCT/2023

                            .icon-text
                                span.icon
                                    i.ri-map-pin-line
                                |
                                span.text Zempoala
                            .icon-text
                                span.icon

                                    i.fa-solid.fa-phone
                                |
                                span.text 771 569 8671 | 771 794 3661
                        h3.event__tile Herederos:Defendiendo el legado camp
                    .card__footer
                        .card__cta
                            img(src=` ${img_logos}/herederos.png`, style="max-height: 120px;").img-fluid

            .flex-md-6.flex-lg-4
                .card.events
                    .card__body
                        .label.uppercase Datos del congreso
                        .event__details.mar-t-sm-2.mar-b-sm-2
                            .icon-text
                                span.icon
                                    i.ri-calendar-line
                                |
                                span.text 24/NOV/2023 y 25/NOV/2023
                            .icon-text
                                span.icon
                                    i.ri-time-line
                                |
                                span.text 8:30 AM
                            .icon-text
                                span.icon
                                    i.ri-map-pin-line
                                |
                                span.text Teatro Cedrus,Pachuca,Hgo.
                        h3.event__tile Mexicanas al grito de guerra
                    .card__footer
                        .card__cta
                            img(src=` ${img_logos}/mexicanas_al_grito_de_Guerra.png`, style="max-height: 120px;").img-fluid
                            //a.label.uppercase Datos del congreso



