section.all-results.all-results--events
    .container
        .row

            .flex-md-6.flex-lg-4
                .card.events
                    .card__body
                        .label.uppercase Datos del congreso
                        .event__details.mar-t-sm-2.mar-b-sm-2
                            .icon-text
                                span.icon
                                    i.ri-calendar-line
                                |
                                span.text 24/NOV/2023 y 25/NOV/2023
                            .icon-text
                                span.icon
                                    i.ri-time-line
                                |
                                span.text 8:30 AM
                            .icon-text
                                span.icon
                                    i.ri-map-pin-line
                                |
                                span.text Teatro Cedrus,Pachuca,Hgo.
                        h3.event__tile Mexicanas al grito de guerra
                    .card__footer
                        .card__cta
                            img(src=` ${img_logos}/mexicanas_al_grito_de_Guerra.png`, style="max-height: 120px;").img-fluid
                            //a.label.uppercase Datos del congreso



