.header
    img.img-fluid(src="/public/img/reuniones/fondo.jpg", alt="Header Image")
    .content

        h5.fw-bolder#title.text-white Bienvenido de nuevo
        //a.btn.bg-white.btn.text-dark(href="#") ¿Podemos orar por ti?

        div.my-4
            h4.text-white "Yo soy el camino , la verdad y la vida"
            h6.text-white -Juan 14:6


