header.bg-image(
    style="background-image: url('/public/img/reuniones/fondo3.jpg');"
)
    .container
        .row.align-items-center
            .col-md-6
                h1#title.text-white Bienvenido de nuevo
                a.btn.bg-white.btn-lg.text-dark(href="#") ¿Podemos orar por ti?

            .col-md-6.text-end.py-3.my-5
                h4.text-white "Yo soy el camino , la verdad y la vida"
                h6.text-white -Juan 14:6



