meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='description', content='Somos una iglesia que se mueve en el poder y dirección del Espíritu Santo, con la visión de amar a Dios, amar al prójimo y servir al mundo, bajo los valores de amar, reflejar e influenciar, pastoreados por Héctor y Pati Andrade.')
meta(name='keywords', content='cultura de jesus, cultura de jesus pachuca , cultura de jesus')

link(href='/public/img/logos/cjn-min.png', rel='icon')
link(href='/public/img/logos/cjn-min.png', rel='apple-touch-icon')


link(rel="stylesheet", href="/public/css/style.css")
link(href='/public/cdn/Bootstrap/bootstrapv5.min.css' rel='stylesheet' )
link(href='/public/cdn/Bootstrap/bootstrapv4.min.css' rel='stylesheet' )

link(rel='stylesheet' href='/public/cdn/Notyf/notyf.min.css')
link(rel='stylesheet' href='/public/cdn/holdon/holdOn.css' )
script(src='/public/cdn/jQuery/jquery-3.6.1.js' crossorigin='anonymous')


link(rel='stylesheet' type='text/css' href='/public/cdn/jQuery/jquery.dataTables.css')
link(rel='stylesheet' href='/public/cdn/Bootstrap-DatePicker/bootstrap-datepicker.min.css'  crossorigin='anonymous' referrerpolicy='no-referrer')
link(rel='stylesheet' href='/public/cdn/SweetAlert/sweetalert2.min.css' crossorigin='anonymous')

script(src='https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js')
link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css')
link(rel='stylesheet' href='https://unpkg.com/aos@next/dist/aos.css')

link(rel='stylesheet' href='/public/cdn/swipebox/css/swipebox.css')
script(src='/public/cdn/swipebox/js/jquery.swipebox.js')

