header.bg-image(
    style="background-image: url('/public/img/reuniones/fondo5.jpg');"
)
    .container
        .row.align-items-center
            .col-md-6
                h1#title.text-white Bienvenidos a Cultura de Jesus
                a.btn.bg-white.btn-lg.text-dark(href="#") Conócenos


