section.ministries.default-section-spacing
    .ministries__content
        .container
            .row.mar-b-sm-4
                .flex-md-8.flex-lg-9
                    .section-heading.mar-b-sm-0
                        span.section-intro Ministerios
                        h2 Algunos de nuestros ministerios
                .flex-md-4.flex-lg-3.text-right-md
                    a.text-center.button.button--primary.button--fill(href='/ministries') Ver todos los ministerios
            .row.text-center
                .flex-md-6.flex-lg-4
                    .card.ministry
                        .card__header

                            img.bg-dark.card__image(src=`${img_logos}/genesis_1.png`, alt)

                        .card__body
                            h3.ministry__tile.mar-b-sm-2 Génesis
                            //p.excerpt Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt impedit cupiditate officiis commodi, autem ratione perspiciatis. Delectus, sed? Modi, repudiandae! Laborum reiciendis facere impedit suscipit tempora quasi commodi vitae deleniti harum voluptates dolores, earum sequi...
                        .card__footer
                            .card__cta
                                a.text-center.button.button--primary.button--fill(href='/ministries') Ver más

                .flex-md-6.flex-lg-4
                    .card.ministry
                        .card__header

                            img.bg-dark.card__image(src=`${img_logos}/fc_blanco-min.png`, alt)

                        .card__body
                            h3.ministry__tile.mar-b-sm-2 Frente de combate
                            //p.excerpt Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt impedit cupiditate officiis commodi, autem ratione perspiciatis. Delectus, sed? Modi, repudiandae! Laborum reiciendis facere impedit suscipit tempora quasi commodi vitae deleniti harum voluptates dolores, earum sequi...
                        .card__footer
                            .card__cta
                                a.text-center.button.button--primary.button--fill(href='/ministries') Ver más
                .flex-md-6.flex-lg-4
                    .card.ministry
                        .card__header

                            img.bg-dark.card__image(src=`${img_logos}/banda_cj_blanco_min.png`, alt)

                        .card__body
                            h3.ministry__tile.mar-b-sm-2 Banda Cultura de Jesús
                            //p.excerpt Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt impedit cupiditate officiis commodi, autem ratione perspiciatis. Delectus, sed? Modi, repudiandae! Laborum reiciendis facere impedit suscipit tempora quasi commodi vitae deleniti harum voluptates dolores, earum sequi...
                        .card__footer
                            .card__cta
                                a.text-center.button.button--primary.button--fill(href='/band') Ver más