nav.bottom-nav
    .container
        .header__nav
            .header__logo.brand--logo
                a(href='/')
                    img(src=`${img_logos}/cjn-min.png` ).img-fluid
            .header__mobile--opener.hide-on-lg

                button.header__mobile--icon(aria-expanded='false', aria-controls='mobile-menu', data-toggle='mobile-menu')
                    span.line
                    |
                    span.line
                    |
                    span.line
            ul.header__navitems.show-on-lg#mobile-menu


                li.header__list
                    a(href="/") Inicio
                //li.header__list
                    a(href='/about ') Sobre nosotros
                li.header__list
                    a(href="/ministries") Ministerios y áreas


                li.header__list
                    a(href="/events") Congresos
                li.header__list
                    a(href="/band") Banda CJ


                //li.header__list
                    a(href='/contact')
            .header__extra.desktop-version

