nav.navbar.navbar-expand-md.navbar-black.bg-black
    .container.text-white
        a.navbar-brand(href="/")
            .div

                img#logoNav.img-fluid.mx-3(src="/public/img/logos/cjn.png" style="max-height:130px;" )



        button.bg-white.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarCollapse", aria-controls="navbarCollapse", aria-expanded="false", aria-label="Toggle navigation")
            span.text-black
                i.fas.fa-bars
        .collapse.navbar-collapse#navbarCollapse
            ul.navbar-nav.mx-auto.mb-2.mb-md-0.my-2
                li.nav-item.text-white
                    a.nav-link(href="/").text-white Inicio
                li.nav-item.text-white
                    a.nav-link(href="/ddlv")
                        img.img-fluid(src="/public/img/logos/ddlv_logo_blanco.png" style="max-height:30px;" title="Dios de los violentos 2023")
                li.nav-item.text-white
                    a.nav-link(href="/areas").text-white Áreas
                //li.nav-item.text-white
                    a.nav-link(href="/anuncios").text-white Anuncios
                //li.nav-item.text-white
                    a.nav-link(href="/contactanos").text-white ¿ Podemos orar por ti ?



