section.staffs.default-section-spacing.text-center-sm
    .staffs__content
        .container
            .section-heading
                span.section-intro Staffs
                h2 Some of our leaders
            .row
                .flex-md-6.flex-lg-4
                    .card.staff
                        .card__header.no-overlay
                            img.card__image(src='/public/images/user-5.jpg', alt)
                        .card__body
                            h3.cause__tile.mar-b-sm-2 John G. Green
                            p Senior pastor
                        .card__footer.justify-align-center
                            .card__share
                                a.transparent.button.button--primary.button--outline.share-button(href)
                                    i.ri-facebook-line
                            .card__share
                                a.transparent.button.button--primary.button--outline.share-button(href)
                                    i.ri-linkedin-line
                            .card__share
                                a.transparent.button.button--primary.button--outline.share-button(href)
                                    i.ri-twitter-line
                .flex-md-6.flex-lg-4
                    .card.staff
                        .card__header.no-overlay
                            img.card__image(src='/public/images/user-2.jpg', alt)
                        .card__body
                            h3.cause__tile.mar-b-sm-2 Sherika M. Diaz
                            p Women's choir leader
                        .card__footer.justify-align-center
                            .card__share
                                a.transparent.button.button--primary.button--outline.share-button(href)
                                    i.ri-facebook-line
                            .card__share
                                a.transparent.button.button--primary.button--outline.share-button(href)
                                    i.ri-linkedin-line
                            .card__share
                                a.transparent.button.button--primary.button--outline.share-button(href)
                                    i.ri-twitter-line
                .flex-md-12.flex-lg-4.mar-t-md-2.mar-t-lg-0
                    .card.staff
                        .card__header.no-overlay
                            img.card__image(src='/public/images/user-4.jpg', alt)
                        .card__body
                            h3.cause__tile.mar-b-sm-2 Walter L. Barrow
                            p Pastor assistant
                        .card__footer.justify-align-center
                            .card__share
                                a.transparent.button.button--primary.button--outline.share-button(href)
                                    i.ri-facebook-line
                            .card__share
                                a.transparent.button.button--primary.button--outline.share-button(href)
                                    i.ri-linkedin-line
                            .card__share
                                a.transparent.button.button--primary.button--outline.share-button(href)
                                    i.ri-twitter-line