div#reuniones.my-5.container.text-white
    div.mx-4.my-3.text-center
        h2.display-5.fw-bolder Reuniones
        span.line.p-0.m-0
    div
        .row
            .col-6.col-md-6(style="border-right: 2px solid white;")
                .row.py-4
                    .col-12.col-md-7.my-5.text-center
                        h6 Plaza Tulipanes
                        h6  JUEVES 8:00 PM
                        button.bg-white.btn.btn-block.text-black Ver Mapa
                    .col-12.col-md-5.text-center
                        img(src='/public/img/logos/cjn.png' style="max-height:150px;").img-fluid

            .col-6.col-md-6


                .row.py-4
                    .col-12.col-md-7.my-5.text-center
                        h6 Teatro Cedrus
                        h6  DOMINGOS 10:00 AM | 12:00 PM
                        button.bg-white.btn.btn-block.text-black Ver Mapa
                    .col-12.col-md-5.text-center
                        img(src='/public/img/logos/cedurs.png' style="max-height:240px;").img-fluid
