div#reuniones.my-5.container.text-white
    div.mx-4.my-3.text-center
        h2.display-5.fw-bolder Reuniones
        span.line.p-0.m-0
    div
        .row
            .col-6.col-md-6(style="border-right: 2px solid white;")
                .row.py-4
                    .col-12.col-md-7.my-5.text-center
                        h6 Plaza Tulipanes
                        h6  JUEVES 8:00 PM

                        a.bg-white.btn.btn-block.text-black(href="https://goo.gl/maps/MerFgejvsqTwDuAWA" target="_blank"  ) Ver Mapa
                    .col-12.col-md-5.text-center
                        img(src='/public/img/logos/cjn-min.png' style="max-height:150px;").img-fluid

            .col-6.col-md-6


                .row.py-4
                    .col-12.col-md-7.my-5.text-center
                        h6 Teatro Cedrus
                        h6  DOMINGOS 10:00 AM | 12:00 PM
                        a.bg-white.btn.btn-block.text-black(href="https://www.google.com/maps/place/Teatro+Cedrus/@20.1106216,-98.7760856,15z/data=!4m6!3m5!1s0x85d1a09de741fd49:0xa6fa02c0ca4dfea6!8m2!3d20.1106216!4d-98.7760856!16s%2Fg%2F11bwhb6fwc" target="_blank" ) Ver Mapa
                    .col-12.col-md-5.text-center
                        img(src='/public/img/logos/cedurs-min.png' style="max-height:240px;").img-fluid
