script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js' integrity='sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js' integrity='sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13' crossorigin='anonymous')
script(src='https://code.jquery.com/jquery-3.3.1.min.js')
script window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')
script(src='/public/js/plugins/owl.carousel.min.js')
script(src='/public/js/main.min.js')
script(src='https://kit.fontawesome.com/b46c20e3c5.js' crossorigin='anonymous')
