script(type='text/javascript' charset='utf8' src='/public/cdn/jQuery/jquery.dataTables.js')
script(src='/public/cdn/Bootstrap-DatePicker/bootstrap-datepicker.min.js' crossorigin='anonymous' referrerpolicy='no-referrer')
script(src='/public/cdn/SweetAlert/sweetalert.js')
script(src='/public/cdn/FontAwesome/fontAwesome.js' crossorigin='anonymous')
script(src='/public/cdn/Bootstrap/popper.min.js'  crossorigin='anonymous')
script(src='/public/cdn/Bootstrap/bootstrap.min.js'  crossorigin='anonymous')
script(src='/public/cdn/Bootstrap/bootstrap.bundle.min.js'  crossorigin='anonymous')
script(src='/public/cdn/Notyf/notyf.min.js')
script(src='/public/cdn/Moment/moment-locales.js')
script(src='/public/cdn/holdon/holdOn.js')