div#sobreNosotros.my-5.container
    .container.row
        .col-12.col-md-4.col-lg-4#imagenSobreNosotros.text-center
            img.img-fluid(src="/public/img/logos/cjn-min.png" style="max-height:200px;")

        .col-12.col-md-8.col-lg-8.text-white#textSobreNosotros

            div.mx-4.my-3
                h1.display-5.fw-bolder Cultura de Jesus
                span.line.p-0.m-0
            div.mx-4.my-3
                p Somos una iglesia que se mueve en el poder y dirección del Espíritu Santo, con la visión de amar a Dios, amar al prójimo y servir al mundo, bajo los valores de amar, reflejar e influenciar, pastoreados por Héctor y Pati Andrade.
                p ¡Contamos con un área específica para ti!