div#sobreNosotros.my-5.container
    .container.row
        .col-12.col-md-4.col-lg-4#imagenSobreNosotros.text-center
            img.img-fluid(src="/public/img/logos/cjn.png" style="max-height:210px;")

        .col-12.col-md-8.col-lg-8.text-white#textSobreNosotros

            div.mx-4.my-3
                h1.display-5.fw-bolder Cultura de Jesus
                span.line.p-0.m-0
            div.mx-4.my-3
                p Lorem ipsum dolor sit amet consectetur adipiscing elit morbi, nisl orci cum cras ligula lobortis felis. Feugiat gravida justo nam orci sed habitant interdum turpis risus dapibus augue varius lacus fames commodo, a condimentum facilisis tellus cursus porta sem diam porttitor blandit scelerisque primis purus.