div#sobreNosotros.my-5.container
    .container.row
        .col-12.col-md-6.col-lg-6.text-end#imagenSobreNosotros
            img.img-fluid(src="/public/img/logos/cjn.png" style="max-height:180px;")

        .col-12.col-md-6.col-lg-6.text-white#textSobreNosotros
            h3.display-3 Sobre nosotros
            p Lorem ipsum dolor sit amet consectetur adipiscing elit morbi, nisl orci cum cras ligula lobortis felis. Feugiat gravida justo nam orci sed habitant interdum turpis risus dapibus augue varius lacus fames commodo, a condimentum facilisis tellus cursus porta sem diam porttitor blandit scelerisque primis purus.