doctype html
html(lang='es')
    head
        include ./../templates/headerCDN


        title #{title}



    body.bg-black.text-white
        #content
            include templates/nav

            #panelContainer


                include templates/menu
                .panel.two.bg-white.text-black
                    div
                        .card-content
                            .card-header
                                h2.fw-bolder Evento
                            .card-body
                                div.my-3
                                    table#tblUsersEvent.display.table.table-hover(style="width=100%")
                                        thead.thead-dark
                                            tr
                                                th Nombre(s)
                                                th Apellidos(s)
                                                th Edad
                                                th Celular
                                                th ¿ Se congrega ?
                                                th Acciónes




    include ./../templates/scripts
    script(src=url_js_files + '/common.js')
    script(src=url_js_files_panel + '/evento.js')
