doctype html
html(lang='es')
    head
        include ./../templates/headerCDN


        title #{title}



    body.bg-black
        .container-fluid.my-5
            .row
                .col-12.col-md-4
                .col-12.col-md-4
                    .card.border-0
                        .card-header.text-center.bg-transparent.border-0

                            div.my-3
                                img(src="./public/img/logos/cjn-min.png" style="max-height:100px;").img-fluid

                            span.fw-bolder Panel Admin
                            h3 Iniciar sesión
                        .card-body

                            label Usuario
                            input.form-control#user_
                            label Contraseña
                            input.form-control(type="password")#password_
                            br

                            .text-center.py-2
                                button#loginBtn.btn.btn-block.btn-dark.w-100.my-2 Acceder
                                button.btn.btn-block.btn-default.w-100.my-2 Registrar nuevo admin



                .col-12.col-md-4





    include ./../templates/scripts
    script(src=url_js_files + '/common.js')

    script(src=url_js_files_panel + '/login.js')
