#editCongresoModal.modal.fade(tabindex='-1' aria-labelledby='editCongresoLabel' aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                h2#editCongresoLabel.modal-title.fw-bolder.fs-5 Editar congreso / evento
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
                .mb-3
                    label.form-label(for='name_Congreso_edit') Nombre

                    input.form-control#name_Congreso_edit(type='text' aria-describedby='textHelp')
                .mb-3
                    label.form-label(for='location_edit') Lugar del congreso
                    input.form-control#location_edit(type='text' aria-describedby='textHelp')

                .mb-3
                    label.form-label(for='image') Imagen

                    input.image.form-control#image_edit(type='file' isEdit="true")
                    input(type="text" style="display:none;")#image_save_edit


                .mb-3
                    .row 

                        .col-4
                            label.form-label(for='date_initial_edit') Fecha inicial
                            input.form-control#date_initial_edit(type='date')
                        .col-4
                            label.form-label(for='date_finish_edit') Fecha final 
                            input.form-control#date_finish_edit(type='date')
                        .col-4 
                            label.form-label(for='hour_initial_edit') Hora de inicio
                            input.form-control#hour_initial_edit(type='time')



                .mb-3
                    label.form-label(for='link_boletos_edit') Link para adquirir boletos

                    input.form-control#link_boletos_edit(type='text' aria-describedby='numberlHelp')

                .mb-4
                    label.mx-2.form-check-label(for="active_edit") Activo:
                    input.form-check-input#active_edit(type='checkbox' aria-describedby='activeHelp')



            .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cerrar
                button.btn.btn-primary(type='button')#editCongreso Guardar
