#editEventModal.modal.fade(tabindex='-1' aria-labelledby='editEventLabel' aria-hidden='true')
    .modal-dialog.modal-lg
        .modal-content
            .modal-header
                h2#editEventLabel.modal-title.fw-bolder.fs-5 Agregar fecha
                h6#month_modal_name_Edit
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
                .row
                    .col-6
                        .mb-3
                            label.form-label(for='location_edit') Lugar
                            input.form-control#location_edit(type='text', aria-describedby='textHelp')

                        .mb-3
                            label.form-label(for='date_edit') Fecha

                            input.form-control#date_edit(type='date')


            .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cerrar
                button.btn.btn-primary(type='button')#editDate  Guardar
