#newProductModal.modal.fade(tabindex='-1' aria-labelledby='newProductLabel' aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                h2#newProductLabel.modal-title.fw-bolder.fs-5 Nuevo producto
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
                .mb-3
                    label.form-label(for='name_product') Nombre

                    input.form-control#name_product(type='text', aria-describedby='textHelp')
                .mb-3
                    label.form-label(for='description') Descripción
                    textarea.form-control#description(rows='4', aria-describedby='textHelp')
                .mb-3
                    label.form-label(for='image') Imagen

                    input.image.form-control#image(type='file' isEdit="false")
                    input(type="text" style="display:none;")#image_save


                .mb-3
                    label.form-label(for='price') Precio

                    input.form-control#price(type='number' min="0" aria-describedby='numberlHelp')

                .mb-3
                    label.form-label(for='stock') Stock

                    input.form-control#stock(type='number' min="0" aria-describedby='numberlHelp')

                .mb-4
                    label.mx-2.form-check-label(for="active") Activo:
                    input.form-check-input#active(type='checkbox', aria-describedby='activeHelp')



            .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cerrar
                button.btn.btn-primary(type='button')#saveProduct Guardar
