#newUserModal.modal.fade(tabindex='-1' aria-labelledby='newUserLabel' aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                h2#newUserLabel.modal-title.fw-bolder.fs-5 Nuevo usuario
                button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
            .modal-body
                .mb-3
                    label.form-label(for='name') Nombre

                    input.form-control#name(type='text', aria-describedby='textHelp')
                .mb-3
                    label.form-label(for='user_name') Usuario

                    input.form-control#user_name(type='text', aria-describedby='textHelp')
                .mb-3
                    label.form-label(for='email') Email

                    input.form-control#email(type='email', aria-describedby='emailHelp')
                .mb-4
                    label.form-label(for='password') Contraseña

                    input.form-control#password(type='password')
                .mb-4
                    label.form-label(for="type_users") Seleccionar el tipo de usuario:
                    select.form-select#type_users(name="type_users")
                        option(value="admin") Administrator
                        option(value="user") User
                .mb-4
                    label.mx-2.form-check-label(for="active") Activo:
                    input.form-check-input#active(type='checkbox', aria-describedby='activeHelp')



            .modal-footer
                button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Cerrar
                button.btn.btn-primary(type='button')#saveUser Guardar
