nav.navbar.navbar-expand-lg
    ul.navbar-nav
        li.nav-item.d-block.d-xl-none
            a.nav-link.sidebartoggler.nav-icon-hover#headerCollapse
                i.ti.ti-menu-2

    .navbar-collapse.px-0#navbarNav
        ul.navbar-nav.flex-row.align-items-center
            h6.m-3.fw-bolder.text-black.display-6(style="font-size:35px;") #{conf_page}