script(src='/public/js/jquery.min.js')
script(src='/public/js/bootstrap.bundle.min.js')



script(src='/public/js/sidebarmenu.js')
script(src='/public/js/app.min.js')
script(src='/panel_files/assets/libs/apexcharts/dist/apexcharts.js')
script(src='/public/js/simplebar.js')
script(src='/public/js/jquery-3.6.4.min.js')
script(src='/public/cdn/moment/moment.min.js')
script(src='/public/cdn/Notyf/notyf.min.js')
script(src='/public/cdn/dataTable/jquery.dataTable.js')
script(src='/public/cdn/holdon/holdOn.js')

script(src='https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js')
script(src='https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js')