nav.navbar.navbar-expand-md.navbar-black.bg-black
    .container.text-white.text-center
        a.navbar-brand(href="/")
            div.text-center


        button.bg-white.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarCollapse", aria-controls="navbarCollapse", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarCollapse
            ul.navbar-nav.mx-auto.mb-2.mb-md-0.my-2
                li.nav-item.text-white
                    a.nav-link(href="/").text-white
                        i.fas.fa-house-user
                        |   Inicio

