doctype html
html(lang='es')
    head
        include templates/head
        include templates/styles
    body
        main
            .page-wrapper#main-wrapper(data-layout='vertical', data-navbarbg='skin6', data-sidebartype='full', data-sidebar-position='fixed', data-header-position='fixed')
                aside.left-sidebar
                    include templates/menu
                .body-wrapper
                    header.app-header
                        include templates/nav

                    .container-fluid
                        .row
                            .col-lg-12.d-flex.align-items-strech


                                .card.w-100
                                    .card-header
                                        div.my-2.text-end
                                            // En pantallas grandes (no celular), muestra solo el texto
                                            button.new_blog.btn.btn-primary.mx-2.d-none.d-lg-inline
                                                i.mx-2.bi.bi-book-half
                                                | Nuevo blog
                                            // En pantallas pequeñas (celulares), muestra solo el icono
                                            button.new_blog.btn.btn-primary.mx-2.d-inline.d-lg-none
                                                i.mx-2.bi.bi-book-half




                                    .card-body

                                        div(style="overflow-y: auto;  height: 500px;")
                                            table#tblBlogs.table.table-hover.py-3
                                                thead.table
                                                    tr.my-5

                                                        th Titulo
                                                        th Subtitulo
                                                        th Esta publicado
                                                        th Fecha de publicación
                                                        th Acciones


        include modals/newBlogModal
        include modals/editBlogModal


        include templates/scripts
        script(src=url_js_files + '/common.js?v=' + Math.random())
        script(src=url_js_files + '/blog.js?v=' + Math.random())