.header
    img.img-fluid(src="/public/img/reuniones/portadaAreas-min.jpg", alt="Header Image")
    .content

        h5.fw-bolder#title.text-white Conoce nuestras áreas
        a.btn.bg-white.btn.text-dark(href="#areas") Ver áreas

        div.my-4
            h4.text-white "Cada uno según el don que ha recibido, adminístrelo á los otros, como buenos dispensadores de las diferentes gracias de Dios."
            h6.text-white -1 Pedro 4:10





