.panel.one(style="width:45vh;height: 100vh;").bg-black
    .card.PanelCard.bg-black
        .card-header.bg-black.text-start
            h4.text-white.fw-bold Menu
        .card-body(style="max-height:550px; overflow-y:auto;")
            if menu
                each val , index in menu
                    #accordionMenu.accordion.bg-black.text-white.my-1
                        .accordion-item.bg-black(style="border: none; ")
                            h2.accordion-header(id="heading_menu_" + index, )
                                button.accordion-button.text-white.bg-black(type='button' data-bs-toggle='collapse' data-bs-target='#collapse_menu_' + index, aria-expanded='true' aria-controls='collapse_menu_' + index)
                                    | !{val.title}
                            .accordion-collapse.collapse(aria-labelledby='heading_menu_' + index, data-bs-parent='#accordionMenu', id="collapse_menu_" + index)
                                .accordion-body.bg-black.my-2
                                    if(val.elements)
                                        each val2, index2 in val.elements
                                            a(href=val2.ref style="width:100%;").text-white.text-decoration-none.my-2
                                                i(class=val2.icon )
                                                span.mx-1
                                                    | !{val2.title}
                                            br








