header#cabeza
    nav.navbar.navbar-expand-lg.bg-black.text-white
        div.container-fluid

            h4.mx-1.lead
                i.fas.fa-user-circle
                |   Perfil Administrador
            button.btn-ligth.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                span.text-white
                    i.fas.fa-bars.p-1
            div#navbarNav.collapse.navbar-collapse
                ul.navbar-nav.ms-auto


                    li.nav-item
                        a.closeSesionAdmin.nav-link.text-white(href='/cpanelcj') Cerrar sesión